.photoContainer {
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  display: flex;
  height: 28rem;
  width: 100%;
  margin-bottom: 5rem;
}

.highlightPhoto {
  position: relative;
  z-index: 1;
  height: 25rem;
  width: 100%;
}

.imageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.photographerInfo {
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.445);
}

@media (min-width: 426px) and (max-width: 769px) {
  .photoContainer {
    height: auto;
    margin-bottom: 3rem;
  }

  .highlightPhoto {
    height: 20rem;
  }
}

@media screen and (max-width: 426px) {
  .photoContainer {
    height: auto;
    margin-bottom: 3rem;
  }

  .highlightPhoto {
    height: 20rem;
  }
}
